<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FactoryDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F296F69B1EC6B14F006B003A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F296F6B41EC6B14F006B003A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F296F6BF1EC6B14F006B003A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
